h1, h3, p, label, input, li{
    font-family: "Montserrat", sans-serif;
}

.form .space{
    width: 100%;
    max-width: 100px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 10px;
}

.form h1{
    width: 100%;
    max-width: 100px;
    margin: auto;
}

.form h3{
    width: 100%;
    max-width: 100px;
    margin: auto;
}

.space label{
    margin-bottom: 5px;
}

.content{
    width: 100%;
    max-width: 500px;
    margin: auto;
}

header, div, p, h1, h2, h3, body, ul, li{
    margin: 0px;
}

header img{
    width: 100%;
    max-height: 200px;
    object-position: center;
}

header{
    background-image: url("../img/message_header.jpg");
    height: 200px;
}

header h1{
    padding: 10 0 5 10px;
}

header h3{
    padding: 0 0 5 10px;
}

.reg{
    font-size: 12px;
    color: gray;
    text-decoration-line: underline;
}

body{
    background-color: rgb(140, 180, 250);
}

.messanger{
    display: flex;
    flex-direction: column;
}

.output{
    height: 500px;
}

.input{
    width: 100%;
}

.input-area{
    display: flex;
    flex-direction: row;
}

.input-area input{
    width: 100px;
}

nav{
	background-color: rgb(170, 210, 250);
    width: 100%;
}

nav ul{
	list-style: none;
    padding: inherit;
}

nav li{
	display: inline-block;
	border-style: solid;
	border-color: #F0F0F0;
	border: 2px;
    margin: auto;
    
}

nav li:hover{
    background-color: rgb(210, 220, 250)
}

nav a{
	display: block;
	padding: 1.0em;
    text-decoration: none;
    color: black;
}

textarea{
    resize: none;
}

iframe{
    overflow-y: hidden;
}